*
{
	margin:0px;
	padding:0px;
	color:#c6c6c8;
	font-size:14px;
	font-family:consolas,"ºÚÌå";
}

body
{
	background-image:url('../image/global_bg.png');
}

.box
{
	width:100%;
	padding:20px,120px,20px,120px;
}

.logo-area
{
	width:160px;
	display:inline;
}

#id_songtaste
{
	font-size:42px;
	font-family:impact;
	color:#ffffff;
	font-style:bold;
}

.menu
{
	display:inline;
	width:450px;
	margin:0px,auto;
}
a:link{text-decoration:none}
a:hover
{
	color:#ffffff;
	cursor:pointer;
}

ul
{
	list-style:none;
}

ul li
{
	float:left;
	margin:0px,20px,0px,20px;
}